<!DOCTYPE html>
<html>
<head>
    <title>tabs</title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="../../CSS/lib/bootstrap.css">
    <!--make sure jquery is included before bootstrap-->
  <script src="../../Scripts/lib/jquery.js"></script>
  <script src="../../Scripts/lib/bootstrap.min.js"></script>
  <script src="../../Scripts/lib/angular.min.js"></script>
</head>
<body>    
	<div ng-app="myApp" ng-controller="myCtrl">
		<input type="datetime-local" ng-model="datetimeStart.value"/>
    <input type="datetime-local" ng-model="datetimeEnd.value" />
	</div>
  

  
  <script src="./main.js"></script>
</body>